.Header-content{
    display: flex;
    width: 100vw;
    height: max-content;
    background-color: #a477ff;
    justify-content: center;
    align-items: center;
    padding: 5vh;
}
.Header-content h1{
    color: #fff;
    margin: 3rem 32rem;
    font-size: 60px;
}
.Header-content img{
    display: flex;
    width: 10%;
    justify-content: flex-end;
}
