.Header-content{
    display: flex;
    margin: 0;
    background-color: #a477ff;
    justify-content: center;
    align-items: center;
    padding: 1vh;
}
.Header-content h1{
    color: #fff;
    margin: 0 32rem;
    font-size: 60px;
}
.Header-content img{
    display: flex;
    width: 10%;
    justify-content: flex-end;
}
