@import url('https://fonts.googleapis.com/css2?family=Dokdo&display=swap');
.home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home-container h1{
    font-family: "Dokdo", system-ui;
    color:#bbc0a8;
    font-size: 50px;
}
.home-container hr{
    color: rgb(255, 255, 255);
    width: 50%;
}
.container{
    background-color:#9cafaa;
    width: 90vw;
    height: max-content;
    margin: 50px;
    border: 1px;
    border-radius: 8px;
    padding: 40px;
}
.container p{
    color: #fff;
}