form {
  margin: 0;
  padding: 20px;
  background-color: #fbf3d5;
}

form {
  display: flex;
  flex-direction: row;
}

label{
  display: flex;
  margin: 20px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 2vh;
}

input{
  flex: 2;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 0 10px;
}

.button-add{
  display: flex;
  width: 50%;
}

  